/* Данные стили применяються ко всем компонентам
Убираем изначальные отступы */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
input, button{
    border:none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input{
    border: 3px solid purple;
    border-radius: 10px;
    padding: 4px;
    background-color: gainsboro;

}

input:focus{
    background-color: aquamarine;
}

button{
    padding: 4px;
    border: 3px solid blue;
    border-radius: 10px;
    background-color: cornflowerblue;

}

button:hover{
    background-color: aqua;
}

#ContactForm{
    padding: 5px;
    margin: 10px;
    border: 3px solid blue;
    max-width: 250px;
    background-color: darkgrey;
    border-radius: 10px;
}

.error{
    border: 3px solid red;
    border-radius: 10px;
    background-color: indianred;
    padding: 5px;
    color: white;
}

.media{
    padding: 4px;
    border: 3px solid blue;
    background-color: cadetblue;
    max-width: 730px;
    max-height: 430px;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #f8f9fa;
}

/* Логотип */
header > a {
    margin-right: 40px; /* расстояние от логотипа до меню */
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #262424;
}

/* Меню навигации */
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

